REACT_APP_SUPABASE_URL=https://pjzsljmjxsvfzeezchrw.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqenNsam1qeHN2ZnplZXpjaHJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MzkyMzYsImV4cCI6MjA5NzIxNTIzNn0.prvwJ7hznual5_QlaA3hVXgDLOPlChrop2BwlavxTsQ